@font-face {
    font-family: Macondo;
    src: url(./fonts/Macondo-Regular.ttf);
}

/* html {
    background-color: rgb(245, 245, 245);
    background-image: url(./img/ArchiveBGPic.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Macondo,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

body {
    max-width: 80%;
    margin: auto;
    background-color: rgb(245, 245, 245);
    background-image: url(./img/ArchiveBGPic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Macondo,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
    background-color: white;
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
    border-radius: 8px;
    border-left: 6px solid #0369a1;
    padding: 30px;
    /* width: 300px; */
    margin: auto;
    margin-top: 30px;
    
    /* display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr; */
}

.toc {
    margin-top: 20%;
    background-color: rgba(219, 219, 219, 0.829);
    /* border: 5px outset rgb(134, 134, 134); */

    box-shadow: -2px 0px 6px 11px rgba(75,75,75) inset;
    -webkit-box-shadow: -2px 0px 6px 11px rgb(75, 75, 75) inset;
    -moz-box-shadow: -2px 0px 6px 11px rgba(75,75,75) inset;
    border-left: none;
}

.toc a {
    font-size: x-large;
}

.card > img {
    display: block;
    margin: auto;
    border: 5px solid #0369a1;
    border-radius: 8px;
}

li > a {
    text-decoration: none;
}

.width300 {
    width: 300px;
}

.center {
    text-align: center;
}

.card > p, ul, ol {
    line-height: 1.4;
    margin: 15px;
}

ol {
    margin-left: 30px;
}

h1 {
    padding: 10px;
    font-size: 60px;
    text-align: center;
}

h2 {
    padding: 15px;
}

button {
    border-radius: 14px;
    border: none;
    margin-top: 5px;
    height: 40px;
    width: 200px;
    font-family: Macondo,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    background-color: #0ea5e9;
    color: white;
    font-size: 110%;
    padding: 5px;
}

.tocForm {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 2000px) and (max-height: 1100px) {
    .toc {
        margin-top: 5%;
    }
}


@media screen and (max-width: 700px) {
    .toc {
        margin-top: 20%;
    }

    body {
        max-width: 85vw;
        margin: 0 0 0 10%;
        /* border: 10px solid green; */
    }
    
    .toc a {
        font-size: 80%;
    }

    .toc h1 {
        font-size: 30px;
    }

    .toc button {
        font-size: 80%;
        width: 80%;
    }

    .card button {
        width: 100%;
        /* background-color: red; */
    }

    .card img {
        width: 80%;
        height: auto;
    }

    .card h1 {
        font-size: 175%;
    }
}

@media screen and (max-height: 400px) {
    form {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
    }
}

